.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 12px !important;
    font-weight: 500;
    color: #475467;

    .ant-breadcrumb {
        display: flex;
        align-items: center;

        a {
            color: #475467;
            text-decoration: none;
            transition: color 0.2s ease;

            &:hover {
                color: #1570ef;
            }
        }

        .ant-breadcrumb-separator {
            color: #98a2b3;
            margin: 0 8px;
            font-weight: 900;
        }

        .ant-breadcrumb-link:last-child {
            color: #1d2939;
            font-weight: 600;
            pointer-events: none;
        }
    }
}